body {
  font-family: arial;
}

.img-100 {
  width: 100%;
}

h4, H2 {
  text-align: center;
}

p {
  text-align: center;
}

.lorem {
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 10em;
  width: 75%;
}

.img-small {
  width: 312px;
  height: 372px;
}
