body {
  font-family: arial;
}

h1 {
  font-size: 90px;
}

.mens-essentials-hidden {
 display: none;

}

.me {
  position: absolute;
  top: 200px;
  left: 170px;
}

.me2 {
  position: absolute;
  top: 431px;
  left: 170px;
  width: 500px;
}

.acc {
  font-weight: bold;
}

.img-100 {
  width: 100%;
}

h4, H2 {
  text-align: center;
}

p {
  text-align: center;
}

.lorem {
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 10em;
  width: 490px;
}

.lorem2 {
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 10em;
  width: 390px;
}

.img-small {
  width: 312px;
  height: 372px;
}

.space-div {
  width: 100%;
  height: 150px;
}
